
<div class="container">
    <div class="row">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<div class="profile-usertitle">
					<h1>{{venue.name}}</h1>

					<h4 class='text-muted'>
						<!-- stored Long, Lat in database -->
						{{venue.location[1]}}, {{venue.location[0]}}
					</h4>
				</div>
				<div class="profile-userbuttons">
					<button class="btn btn-success btn-lg" ng-click='follow(venue._id)'>Follow</button>
				</div>
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
			   Map goes here...
			   <pre>{{venue | json}}</pre>
            </div>
		</div>
	</div>
</div>