

<div ng-include="'templates/navbar.html'"></div>

<!-- Logged in homepages and not logged in homepages combined here -->
<div class='row' ng-if='!user'>
	<div class='jumbotron text-center'>
		<h1>Welcome to the site</h1>
	</div>
</div>

<div class='row' ng-if='user'>
	<div class='col-sm-3'>
		<h3>All Users</h3>
		<ol>
			<li ng-repeat='user in users'>{{user.email}}</li>
		</ol>
	</div>
	<div class='col-sm-9 text-center'>
		<div class='btn btn-default' ui-sref='addVenue'>Add Venue</div>
	</div>
</div>