
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href ui-sref='home'>Follow Venues</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-if='user'>
        	<span ng-bind='user.email || user.email'></span>
        	<span logout></span>
        </li>
        <li ng-if='!user'><a href ui-sref='auth.login'>Login</a></li>
        <li ng-if='!user'><a href ui-sref='auth.register'>Register</a></li>
      </ul>
    </div>
  </div>
</nav>